fexc
bin2fex
fex2bin
bootinfo
fel
pio
nand-part
nand-part-a20
phoenix_info
fel-pio.bin
jtag-loop.bin
fel-sdboot.bin
boot_head_sun4i.bin
boot_head_sun5i.bin
adb-devprobe.sh
fel-gpio
usb-boot
*.o
*.swp
*~
Makefile.in
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
config.guess
config.sub
