*.o
*.elf
*.swp
tools/bootinfo/bootinfo
tools/fel/fel
tools/fexc/bin2fex
tools/fexc/fecx
tools/fexc/fex2bin
tools/nand_part/nand-part
tools/phoenix_info/phoenix_info
tools/pio/pio
baremetal/boot_head/boot_head_sun3i.bin
baremetal/boot_head/boot_head_sun4i.bin
baremetal/boot_head/boot_head_sun5i.bin
baremetal/fel-copy/fel-copy.bin
baremetal/fel-pio/fel-pio.bin
baremetal/fel-pio/fel-pio.nm
baremetal/fel-sdboot/fel-sdboot.bin
baremetal/jtag-loop/jtag-loop.bin
